// Primary Colors
$peach: #e76b68; // RGB: (231, 107, 104), HSL: (1°, 73%, 66%)
$black: #1d1c1e; // RGB: (29, 28, 30), HSL: (270°, 3%, 11%)
$white: #ffffff; // RGB: (255, 255, 255), HSL: (0°, 0%, 100%)

// Secondary Colors
$light-peach: #ffad9b; // RGB: (255, 173, 155), HSL: (11°, 100%, 80%)
$dark-grey: #333136; // RGB: (51, 49, 54), HSL: (264°, 5%, 20%)
$light-grey: #f1f3f5; // RGB: (241, 243, 245), HSL: (210°, 17%, 95%)
