.frame {
  &__one {
    background-image: url("../../images/image-hero-phone.png"),
      url("../../images/bg-pattern-hero-home.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, right;
    margin-bottom: 16rem;
    width: 100%;
    background-color: $peach;
    color: $white;
    height: 64rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    padding-top: 16rem;
    padding-left: 9.5rem;
  }

  &__text {
    @include typography(4.4rem, 1.2, -0.2rem);
    width: 50rem;
    height: 16.5rem;
    margin-bottom: 1.1rem;
  }
  &__texts {
    @include typography(1.4rem, 1.6, 0rem);
    width: 44.5rem;
    margin-bottom: 4rem;
  }
  &__title {
    width: 15.6rem;
    height: 5.6rem;
    background-color: $white;
    padding: 1.8rem 2.5rem 1.6rem 2.9rem;
    border-radius: 8px;
    border: 1px solid transparent;
  }
  &__content {
    @include typography(1.4rem, 1.6, 0rem);
    font-weight: 500;
    font-size: 1.6rem;
    color: $black;
  }

  &__title:hover {
    background-color: $light-peach;
  }
}

@media screen and (max-width: 850px) {
  .frame__one {
    background-image: url("../../images/image-hero-phone.png"),
      url("../../images/bg-pattern-hero-home.svg");
    background-position: bottom -35rem right, bottom right -10rem;
    height: 843px;
    padding-top: 6rem;
    padding-left: 5.8rem;
  }

  .frame__text {
    text-align: center;
  }

  .frame__texts {
    text-align: center;
  }

  .frame__two {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .frame__container {
    background-image: url("../../images/image-hero-phone.png"),
      url("../../images/bg-pattern-hero-home.svg");
    background-color: $peach;
    color: $white;
    padding: 0;
    margin-bottom: 12rem;
  }

  .frame__two {
    margin-left: 5rem;
  }

  .frame__one {
    padding: 0;
    margin-bottom: 0;
  }

  .frame__text {
    text-align: center;
  }

  .frame__texts {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.project {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header main"
      "header footer";
    height: 64rem;
    gap: 2.4rem;
    margin-bottom: 16rem;
  }
  &__title {
    @include typography(4.4rem, 1.2, -0.2rem);
  }
  &__text {
    @include typography(1.6rem, 1.5, 0rem);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $white;
  }

  &__item:nth-child(1) {
    grid-area: header;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/image-web-design-large.jpg");
    border-radius: 1.5rem;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/image-web-design-large.jpg");
    }

    &:active {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.8),
          rgba(231, 129, 107, 0.8)
        ),
        url("../../images/image-web-design-large.jpg");
    }
  }

  &__item:nth-child(2) {
    grid-area: main;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/image-app-design.jpg");
    border-radius: 1.5rem;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/image-app-design.jpg");
    }

    &:active {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.8),
          rgba(231, 129, 107, 0.8)
        ),
        url("../../images/image-app-design.jpg");
    }
  }

  &__item:nth-child(3) {
    grid-area: footer;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/image-graphic-design.jpg");
    border-radius: 1.5rem;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/image-graphic-design.jpg");
    }

    &:active {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.8),
          rgba(231, 129, 107, 0.8)
        ),
        url("../../images/image-graphic-design.jpg");
    }
  }
}

@media screen and (max-width: 850px) {
  .project__content {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
      "header "
      "main"
      "footer";
    margin-bottom: 12rem;
  }
}

@media screen and (max-width: 500px) {
  .project__content {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
      "header "
      "main"
      "footer";
    margin-bottom: 8rem;
  }
}

.card {
  &__title {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 16rem;
  }

  &__item {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__image {
    margin-bottom: 4.8rem;
    padding-left: 7rem;
  }

  &__text {
    margin-bottom: 3.2rem;
    text-align: center;
  }

  &__texts {
    width: 35rem;
    height: 10.4rem;
    text-align: center;
    @include typography(1.6rem, 1.5, 0rem);
  }
}

@media screen and (max-width: 850px) {
  .card__title {
    margin-bottom: 6.7rem;
    flex-direction: column;
    padding-right: 17rem;
  }

  .card__item {
    flex-direction: row;
    display: flex;
    gap: 4.8rem;
  }
}

@media screen and (max-width: 500px) {
  .card__title {
    margin-bottom: 6.7rem;
    margin-bottom: 12rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .card__item {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card__one {
    margin-bottom: 4.8rem;
  }

  .card__text {
    padding-left: 10rem;
  }

  .card__texts {
    padding-left: 10rem;
  }

  .card__image {
    padding-left: 10rem;
    margin-bottom: -4rem;
  }
}

.about {
  margin-bottom: -10rem;
  position: relative;

  &__title {
    background-image: url("../../images/bg-pattern-call-to-action.svg");
    background-position: top -15rem right;
    height: 29.2rem;
    background-color: $peach;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
    padding-left: 9.5rem;
    border-radius: 1.5rem;
  }

  &__text {
    @include typography(4.4rem, 1.2, -0.2rem);
    font-weight: 500;
    width: 26.8rem;
    margin-bottom: 1rem;
  }

  &__texts {
    @include typography(1.4rem, 1.6, 0rem);
    width: 45.9rem;
  }

  &__content {
    width: 15.2rem;
    height: 5.6rem;
    background-color: $white;
    color: $black;
    padding: 1.7rem 2.5rem;
    border-radius: 8px;
    margin-right: 9.6rem;
  }
  &__text-one {
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__content:hover {
    background-color: $light-peach;
    color: $white;
  }
}

@media screen and (max-width: 850px) {
  .about__title {
    flex-direction: column;
    height: 35rem;
  }

  .about__text {
    padding-top: 5.7rem;
    text-align: center;
    padding-left: 5rem;
    width: 33.5rem;
  }

  .about__texts {
    text-align: center;
    padding-right: 7rem;
  }
}

.web {
  &__item {
    background-image: url("../../images/bg-pattern-call-to-action.svg");
    background-position: top -15rem right;
    height: 25.2rem;
    background-color: $peach;
    color: $white;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 16rem;
  }
  &__text {
    @include typography(4.4rem, 1.2, -0.2rem);
  }
  &__contact {
    @include typography(1.6rem, 1.5, 0rem);
    width: 40rem;
    text-align: center;
  }
}

.express {
  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 3rem;
    margin-bottom: 16rem;
  }

  &__image {
    display: flex;
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
  }
  &__item-content {
    background-color: rgba(253, 243, 240, 1);
    height: 15.8rem;
    width: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 0 0 1.5rem 1.5rem;
    width: 100%;
  }
  &__title {
    color: $peach;
    @include typography(2.4rem, 1.4, -0.1rem);
  }

  &__text {
    color: $black;
    @include typography(1.6rem, 1.5, 0rem);
    text-align: center;
    width: 25rem;
  }

  .express__item-content:hover {
    background-color: $peach;

    .express__title {
      color: $white;
    }

    .express__text {
      color: $white;
    }
  }
}

@media screen and (max-width: 850px) {
  .express__content {
    display: flex;
  }

  .express__item {
    grid-template-columns: 1fr;
  }

  .express__image {
    border-radius: 1.5rem 0 0 1.5rem;
  }

  .express__item-content {
    border-radius: 0 1.5rem 1.5rem 0;
    height: 32rem;
  }
}

@media screen and (max-width: 500px) {
  .express__content {
    flex-direction: column;
  }

  .express__image {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .express__item-content {
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.projects {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header footer";
    height: 30.8rem;
    gap: 2.4rem;
    width: 100%;
    margin-bottom: 16rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $white;
  }

  &__title {
    @include typography(4.4rem, 1.2, -0.2rem);
  }

  &__text {
    @include typography(1.6rem, 1.5, 0rem);
  }

  &__item:nth-child(1) {
    grid-area: header;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/image-app-design.jpg");
    border-radius: 1.5rem;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/image-app-design.jpg");
    }

    &:active {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.8),
          rgba(231, 129, 107, 0.8)
        ),
        url("../../images/image-app-design.jpg");
    }
  }

  &__item:nth-child(2) {
    grid-area: footer;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/image-graphic-design.jpg");
    border-radius: 1.5rem;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/image-graphic-design.jpg");
    }

    &:active {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.8),
          rgba(231, 129, 107, 0.8)
        ),
        url("../../images/image-graphic-design.jpg");
    }
  }
}

@media screen and (max-width: 850px) {
  .projects__content {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
      "header "
      "footer";
    margin-bottom: 12rem;
  }

  .projects__item {
    padding-top: 5.3rem;
    padding-bottom: 5.3rem;
  }
}

@media screen and (max-width: 500px) {
  .projects__content {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
      "header "
      "footer";
    margin-bottom: 8rem;
    height: 100%;
  }

  .projects__item {
    padding-top: 9rem;
    padding-bottom: 8.9rem;
  }
}

.app {
  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 3rem;
    margin-bottom: 16rem;
  }
  &__content {
  }
  &__image {
    display: flex;
    border-radius: 1.5rem 1.5rem 0 0;
    width: 100%;
  }
  &__item-content {
    background-color: rgba(253, 243, 240, 1);
    height: 15.8rem;
    width: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 0 0 1.5rem 1.5rem;
    width: 100%;
  }
  &__title {
    color: $peach;
    @include typography(2.4rem, 1.4, -0.1rem);
  }
  &__text {
    color: $black;
    @include typography(1.6rem, 1.5, 0rem);
    text-align: center;
    width: 25rem;
  }

  &__item-content:hover {
    background-color: $peach;

    .app__title {
      color: $white;
    }

    .app__text {
      color: $white;
    }
  }
}

@media screen and (max-width: 850px) {
  .app__content {
    display: flex;
  }

  .app__item {
    grid-template-columns: 1fr;
  }

  .app__image {
    border-radius: 1.5rem 0 0 1.5rem;
  }

  .app__item-content {
    border-radius: 0 1.5rem 1.5rem 0;
    height: 32rem;
  }
}

@media screen and (max-width: 500px) {
  .app__content {
    flex-direction: column;
  }

  .app__image {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .app__item-content {
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.projectss {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header footer";
    height: 30.8rem;
    gap: 2.4rem;
    width: 100%;
    margin-bottom: 16rem;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $white;
  }
  &__title {
    @include typography(4.4rem, 1.2, -0.2rem);
  }
  &__text {
    @include typography(1.6rem, 1.5, 0rem);
  }

  &__item:nth-child(1) {
    grid-area: header;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/image-web-design-large.jpg");
    border-radius: 1.5rem;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/image-web-design-large.jpg");
    }

    &:active {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.8),
          rgba(231, 129, 107, 0.8)
        ),
        url("../../images/image-web-design-large.jpg");
    }
  }

  &__item:nth-child(2) {
    grid-area: footer;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/image-graphic-design.jpg");
    border-radius: 1.5rem;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/image-graphic-design.jpg");
    }

    &:active {
      background-image: linear-gradient(
          rgba(231, 129, 107, 0.8),
          rgba(231, 129, 107, 0.8)
        ),
        url("../../images/image-graphic-design.jpg");
    }
  }
}

@media screen and (max-width: 850px) {
  .projectss__content {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
      "header "
      "footer";
    margin-bottom: 12rem;
  }

  .projectss__item {
    padding-top: 5.3rem;
    padding-bottom: 5.3rem;
  }
}

@media screen and (max-width: 500px) {
  .projectss__content {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
      "header "
      "footer";
    margin-bottom: 8rem;
    height: 100%;
  }

  .projectss__item {
    padding-top: 9rem;
    padding-bottom: 8.9rem;
  }
}

.banner {
  &__content {
    background-image: url("../../images/bg-pattern-hero-about-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left -6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $peach;
    color: $white;
    border-radius: 1.5rem;
    margin-bottom: 16rem;
  }

  &__title {
    padding-left: 9.5rem;
  }

  &__text {
    @include typography(4.4rem, 1.2, -0.2rem);
  }

  &__texts {
    width: 40.8rem;
    @include typography(1.6rem, 1.5, 0rem);
    letter-spacing: 0;
  }
  &__image {
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

@media screen and (max-width: 850px) {
  .banner__content {
    flex-direction: column;
    height: 65.2rem;
    margin-bottom: 12rem;
  }

  .banner__image {
    width: 100%;
    height: 32rem;
    border-radius: 0 0 1.5rem 1.5rem;
  }

  .banner__text {
    text-align: center;
    padding-right: 9.5rem;
  }

  .banner__texts {
    text-align: center;
    padding-right: 9.5rem;
    letter-spacing: 0.2rem;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .banner__content {
    height: 81.5rem;
    margin-bottom: 0;
    flex-direction: column-reverse;
  }

  .banner__container {
    background-image: url("../../images/bg-pattern-hero-about-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left -6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $peach;
    color: $white;
    border-radius: 1.5rem;
    margin-bottom: 16rem;
    margin-bottom: 0;
    border-radius: 0;
  }

  .banner__image {
    width: 100%;
  }
}

.cards {
  &__item {
    background-image: url("../../images/bg-pattern-call-to-action.svg");
    background-position: bottom;
    border-radius: 1.5rem;
    color: $white;
    background-color: rgba(253, 243, 240, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16rem;
    gap: 9.4rem;

    background-image {
      opacity: 6%;
    }
  }

  &__image {
    border-radius: 1.5rem 0 0 1.5rem;
  }
  &__title {
    flex-direction: column;
    padding-right: 9.6rem;
  }
  &__text {
    @include typography(4.4rem, 1.2, -0.2rem);
    color: $peach;
    text-align: start;
  }
  &__texts {
    color: $black;
    text-align: start;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 850px) {
  .cards__item {
    flex-direction: column;
  }

  .cards__image {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    height: 32rem;
  }

  .cards__text {
    text-align: center;
  }

  .cards__texts {
    text-align: center;
  }

  .cards__title {
    padding-left: 9.6rem;
  }
}

@media screen and (max-width: 500px) {
  .cards__container {
    background-image: url("../../images/bg-pattern-call-to-action.svg");
    background-position: bottom;
    border-radius: 1.5rem;
    color: $white;
    background-color: rgba(253, 243, 240, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16rem;
    margin-bottom: 0;
    border-radius: 0;
  }
  .cards__item {
    margin-bottom: 0;
  }

  .cards__text {
    width: 100%;
    padding-left: 0;
  }

  .cards__texts {
    width: 100%;
    padding-left: 0;
    margin-bottom: 8rem;
  }
}

.location {
  &__item {
    background-image: url("../../images/Oval\ Copy\ 3\ \(1\).svg"),
      url("../../images/Oval\ Copy\ 3.svg"),
      url("../../images/Oval\ Copy\ 3\ \(2\).svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, top center, top right 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16rem;
    align-items: center;
  }

  &__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__image {
    margin-bottom: 4.8rem;
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    margin-bottom: 3.2rem;
  }
  &__button {
    width: 15.2rem;
    height: 5.6rem;
    background-color: $peach;
    padding: 1.8rem 1.8rem 1.6rem 1.8rem;
    border-radius: 8px;
  }
  &__texts {
    @include typography(1.6rem, 1.5, 0rem);
    font-size: 1.5rem;
    color: $white;
  }

  &__button:hover {
    background-color: $light-peach;
  }

  &__texts {
    color: $black;
  }
}

@media screen and (max-width: 850px) {
  .location__item {
    background-image: url("../../images/Oval\ Copy\ 3\ \(1\).svg"),
      url("../../images/Oval\ Copy\ 3.svg"),
      url("../../images/Oval\ Copy\ 3\ \(2\).svg");
    background-position: top center, top 45rem center, bottom 15rem center;
    flex-direction: column;
    gap: 8rem;
  }
}

.real {
  &__item {
    background-image: url("../../images/bg-pattern-call-to-action.svg");
    background-position: bottom;
    margin-bottom: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
    color: $black;
    background-color: rgba(253, 243, 240, 1);
  }
  &__text {
    color: $peach;
    @include typography(4.4rem, 1.2, -0.2rem);
    margin-bottom: 2.4rem;
  }
  &__title {
    @include typography(1.6rem, 1.5, 0rem);
    margin-bottom: 3rem;
    width: 40rem;
  }

  &__content {
    padding-left: 9.5rem;
  }
  &__image {
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

@media screen and (max-width: 850px) {
  .real__item {
    flex-direction: column;
    padding-right: -9.5rem;
    margin-bottom: 12rem;
  }

  .real__image {
    width: 100%;
    border-radius: 0 0 1.5rem 1.5rem;
    height: 32rem;
    max-width: 85rem;
  }

  .real__content {
    padding-right: 9.5rem;
  }

  .real__text {
    text-align: center;
  }

  .real__title {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .real__item {
    margin-bottom: 0;
    flex-direction: column-reverse;
  }

  .real__content {
    margin-top: 8rem;
  }
}

.designos {
  &__item {
    display: grid;
    gap: 3rem;
    margin-bottom: 16rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "canada canada canadam"
      "australiam australia australia"
      "united united unitedm";
  }

  &__title {
    color: $black;
    border-radius: 1.5rem;
  }
  &__text {
    color: $peach;
    margin-bottom: 2.4rem;
    @include typography(4.4rem, 1.2, -0.2rem);
  }

  &__texts {
    display: flex;
    gap: 6rem;
  }
  &__textss {
    @include typography(1.6rem, 1.5, 0rem);
    width: 19.9rem;
  }

  &__image {
    border-radius: 1.5rem;
  }

  &__title:nth-child(1) {
    background-image: url("../../images/Group\ 6.svg");
    background-position: bottom;
    grid-area: canada;
    background-color: rgba(253, 243, 240, 1);
    padding-top: 8.8rem;
    padding-left: 9.5rem;
  }

  &__title:nth-child(2) {
    grid-area: canadam;
  }

  &__title:nth-child(3) {
    grid-area: australiam;
  }

  &__title:nth-child(4) {
    background-image: url("../../images/Group\ 6.svg");
    background-position: bottom;
    grid-area: australia;
    background-color: rgba(253, 243, 240, 1);
    padding-top: 8.8rem;
    padding-left: 9.5rem;
  }

  &__title:nth-child(5) {
    background-image: url("../../images/Group\ 6.svg");
    background-position: bottom;
    grid-area: united;
    background-color: rgba(253, 243, 240, 1);
    padding-top: 8.8rem;
    padding-left: 9.5rem;
  }

  &__title:nth-child(6) {
    grid-area: unitedm;
  }
}

@media screen and (max-width: 850px) {
  .designos__item {
    width: 100%;
    margin-bottom: 12rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "canadam"
      "canada"
      "australiam"
      "australia"
      "unitedm"
      "united";
  }

  .designos__title {
    height: 32.6rem;
  }

  .designos__image {
    width: 100%;
    height: 32.6rem;
  }

  .designos__title:nth-child(1) {
    margin-bottom: 12rem;
  }

  .designos__title:nth-child(4) {
    margin-bottom: 12rem;
  }
}

@media screen and (max-width: 500px) {
  .designos__item {
    width: 100%;
    margin-bottom: 8rem;
    gap: 0rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "canadam"
      "canada"
      "australiam"
      "australia"
      "unitedm"
      "united";
  }

  .designos__title {
    height: 39.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .designos__texts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
  }

  .designos__image {
    display: flex;
    width: 100%;
    height: 32rem;
  }

  .designos__title:nth-child(1) {
    padding-right: 9.5rem;
    padding-bottom: 8.8rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .designos__title:nth-child(4) {
    padding-right: 9.5rem;
    padding-bottom: 8.8rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .designos__title:nth-child(5) {
    padding-right: 9.5rem;
    padding-bottom: 8.8rem;
    text-align: center;
  }
}

.submit {
  &__bar {
    background-image: url("../../images/bg-pattern-hero-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: rgba(231, 129, 107, 1);
    color: $white;
    height: 48rem;
    border-radius: 1.5rem;
    display: flex;
    gap: 9.5rem;
    margin-bottom: 16rem;
  }

  &__content {
    padding-top: 13.5rem;
    padding-left: 9.5rem;
  }
  &__text {
    margin-bottom: 3.2rem;
    @include typography(4.4rem, 1.2, -0.2rem);
  }
  &__title {
    width: 44.5rem;
    @include typography(1.6rem, 1.5, 0rem);
  }
  &__contact {
    display: flex;
    flex-direction: column;
    padding-top: 5.5rem;
    gap: 2.5rem;
  }
  &__item {
    color: $white;
    @include typography(1.6rem, 1.5, 0rem);
    opacity: 0.5;
    border-bottom: 1px solid $white;
    width: 38rem;
    padding-bottom: 1.1rem;
    padding-left: 1.6rem;
  }

  &__items {
    color: $white;
    @include typography(1.6rem, 1.5, 0rem);
    opacity: 0.5;
    border-bottom: 1px solid $white;
    width: 38rem;
    padding-bottom: 7.6rem;
    padding-left: 1.6rem;
    margin-bottom: 2.4rem;
  }

  &__hover {
    width: 15.2rem;
    height: 5.6rem;
    background-color: $white;
    padding: 1.7rem 4.8rem;
    border-radius: 8px;
    margin-left: auto;
  }

  &__texts {
    color: $black;
    @include typography(1.6rem, 1.5, 0rem);
  }

  &__hover:hover {
    background-color: $light-peach;
  }

  &__item:hover {
    border-color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    opacity: 1;
  }

  &__items:hover {
    border-color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .submit__bar {
    flex-direction: column;
    height: 73rem;
    width: 100%;
    gap: 0;
    margin-bottom: 12rem;
  }

  .submit__item {
    width: 57.3rem;
  }

  .submit__items {
    width: 57.3rem;
  }

  .submit__contact {
    padding-left: 9.5rem;
    padding-top: 1rem;
    width: 100%;
    margin-bottom: 4rem;
  }

  .submit__content {
    margin-bottom: 2rem;
    margin-top: -5rem;
  }

  .submit__hover {
    margin-right: 5.8rem;
  }

  .submit__title {
    width: 57.3rem;
  }
}

@media screen and (max-width: 500px) {
  .submit__bar {
    height: 76.4rem;
    margin-bottom: 8rem;
  }

  .submit__text {
    text-align: center;
    padding-right: 7rem;
  }

  .submit__title {
    width: 32.7rem;
    text-align: center;
    padding-right: 6rem;
  }

  .submit__contact {
  }

  .submit__item {
    width: 32.7rem;
  }

  .submit__items {
    width: 32.7rem;
  }
}
