.footer {
  background-color: $black;
  color: $light-grey;

  &__item {
    margin-top: 14.4rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    border-bottom: 1px solid $white;
    margin-bottom: 3.1rem;
  }

  &__title {
  }
  &__text {
    color: $white;
    @include typography(1.4rem, 1.6, 0rem);
    margin-left: 4rem;
  }

  &__text:hover {
    color: $peach;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
  }

  &__contact {
    @include typography(1.6rem, 1.5, 0rem);
    width: 19rem;
  }

  &__contacts {
    @include typography(1.6rem, 1.5, 0rem);
    width: 19rem;
  }

  &__images {
    display: flex;
    gap: 1.6rem;
  }

  &__image-contact {
  }
}

@media screen and (max-width: 850px) {
  .footer__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }

  .footer__items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

.footer__image-contact:hover {
  background-color: $light-peach;
}
