.header {
  margin-top: 6.4rem;
  margin-bottom: 6.7rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: $black;
    margin-left: 4.2rem;
    @include typography(1.4rem, 1.6, 0rem);
  }

  &__text:hover {
    color: $peach;
  }
}
