*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted red;
  outline-offset: 4px;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  display: flex;
}

body {
  font-family: "Jost";
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  background-color: $white;
  color: $black;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1111px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x: hidden;
}

@media screen and (max-width: 850px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
